[submodule "catkin_ws/src/kindr"]
	path = catkin_ws/src/kindr
	url = https://github.com/ANYbotics/kindr.git
[submodule "catkin_ws/src/control-toolbox"]
	path = catkin_ws/src/control-toolbox
	url = https://github.com/ethz-adrl/control-toolbox.git
[submodule "dependencies/blasfeo"]
	path = dependencies/blasfeo
	url = https://github.com/giaf/blasfeo
[submodule "dependencies/hpipm"]
	path = dependencies/hpipm
	url = https://github.com/giaf/hpipm
[submodule "catkin_ws/src/thruster_manager"]
	path = catkin_ws/src/thruster_manager
	url = https://github.com/CentraleNantesROV/thruster_manager.git
